.selectBoxArrow {
    /*! margin-top:1px; */
    /*! float:left; */
    position: absolute;
    right: 6px;
    top: 6px;
}

.selectBox {
    display: inline-block;
}

.selectBox img {
    width: 15px;
    height: 18px;
}

.selectBoxInput {
    width: 100%;
}

.selectBoxOptionContainer {
    position: absolute;
    border: 1px solid #7f9db9;
    height: 100px;
    background-color: #FFF;
    left: 0px;
    top: 30px;
    visibility: hidden;
    overflow: auto;
    z-index: 1000;
}

.selectBoxIframe {
    position: absolute;
    background-color: #FFF;
    border: 0px;
    z-index: 999;
}

.selectBoxAnOption {
    font-family: arial;
    font-size: 13px;
    cursor: default;
    margin: 1px;
    overflow: hidden;
    white-space: nowrap;
    color:black;

    text-align: left;
}
