/*ANIMATIONS SECTION*/

@keyframes change-AHOVER-color {
    from {
        color: white;
    }
    to {
        color: orange;
    }
}

@keyframes change-TITLE-color {
    from {
        color: darkturquoise;
    }
    to {
        color: orange;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #36393F;
}

h1 {
    color: aquamarine;
}

.tab-text {
    color: white;
    font-size: 30px;
}

.header {
    margin-bottom: 2%;
    text-align: center;
}

.header a {
    font-size: 48px;
    text-decoration: none;
    color: darkturquoise;
}

.header a:hover {
    animation-name: change-TITLE-color;
    animation-duration: .25s;
    color: orange;
}

.links-div {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.link-tool {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 15px solid black;
    border-radius: 15px;
    font-size: 30px;
    background-color: black;
    color: white;
}

.link-tool:hover {
    animation-name: change-AHOVER-color;
    animation-duration: .25s;
    color: orange;
}

.main {
    margin-top: 2%;
}


/* CREDIT DUE TO W3SCHOOLS FOR ALL THIS */


/* Style the tab */

.tab {
    overflow: hidden;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: dodgerblue;
    float: left;
    margin-right: 1.2rem;
    border: 3px solid blue;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ff711e;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ff711e;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
}

h2 {
    color: aqua;
}

.update-text {
    color: white;
    font-size: large;
}

.update-text a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: skyblue;
}

h4 {
    color: skyblue;
}

p {
    color: white;
}

li {
    color: white;
}
